body{
    margin-left: 0;
    margin-right: 0;
}

.comment{
    border-top: 1px solid #333;
    margin: 20px 0;
}
.comment .comment-details{
    color: rgb(78, 201, 176);
}
.comment .comment-details .comment-date{
    color: rgb(87, 166, 74);
}
.comment .comment-content{
    margin-top: 5px;
}
.comment-form form{
    background: rgba(30, 30, 30, 0.1);
    width: 600px;
    padding: 10px;
}
.comment-form form input,
.comment-form form textarea,
.comment-form form button{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #333;
    border-radius: 3px;
    color: rgb(220, 220, 220);
    background-color: rgb(30, 30, 30);
    font-family: 'Consolas' !important; 
    font-size: 12px; 
    box-sizing: border-box;
}
.comment-form form textarea{
    height: 100px;
    resize: vertical;
}

#form_author {
    color: rgb(78, 201, 176);
}