body {
    margin-left: 1px;
    margin-right: 0px;
}

.comment{
    border-top: 1px dotted #333;
    margin: 20px 0;
}
.comment .comment-details{
    color: rgb(78, 201, 176);
}

.comment.admin .comment-details{
    color: rgb(255, 0, 0);
}

.comment .comment-details .comment-date{
    color: rgb(87, 166, 74);
}
.comment .comment-content{
    margin-top: 5px;
}
.comment-form form{
    background: rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 0px;
}
.comment-form form input,
.comment-form form textarea,
.comment-form form button{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 3px;
    border: 1px solid #333;
    border-radius: 0px;
    color: rgb(220, 220, 220);
    background-color: rgb(0, 0, 0);
    font-family: 'Consolas' !important; 
    font-size: 12px; 
    box-sizing: border-box;
}

.comment-form form input:active,
.comment-form form textarea:active,
.comment-form form button:active{
    border: 1px solid rgba(78, 201, 176, 200, 0.5);
}

.comment-form form input:focus,
.comment-form form textarea:focus,
.comment-form form button:focus{
    border: 1px solid rgba(78, 201, 176, 0.5) !important;
}

.comment-form form input:hover,
.comment-form form textarea:hover,
.comment-form form button:hover{
    border: 1px solid rgb(127, 127, 127);
}


.comment-form form textarea{
    height: 100px;
    resize: vertical;
}

#form_author {
    color: rgb(78, 201, 176);
}

#form_email {
    color: rgb(78, 201, 176);
}