* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin-left: 5%;
  margin-right: 5%;
  font-family: Consolas,monaco,monospace !important; 
  font-size: 12px; 
  color: rgb(170, 170, 170);
  line-height: 1.5;
  background-color: rgb(0, 0, 0);
}

.language-cpp {
  font-family: Consolas,monaco,monospace !important; 
}

img {
  border: 1px solid rgb(127, 127, 127);
  max-width: 100%;
}

iframe {
}

#commentssection {
                position:relative; 
                height: 100%;
                overflow: hidden;
}

#serverwidget {
                position:relative; 
                height: 100%;
                overflow: hidden;
}

.vsfunction,
.highlight .nf,
.highlight
{
  color: rgb(200, 200, 200);
}
.subjectheader {
	color:white;
}

.vskeyword,
.highlight .kt,
.highlight .k
{
  color: rgb(78, 201, 176);
}

.vstext {
  color:rgb(170, 170, 170);
}

.vscomment {
  color: rgb(87, 166, 74);
}

.vsprepro {
  color: rgb(155, 155, 155);
}

.vstype {
  color: rgb(78, 201, 176);
}

.onlinegreen {
  color: rgb(34, 197, 76);
}

.vsstring {
  color: rgb(86, 156, 214);
}

.highlight .mi,
.highlight .mf,
.vsnumber {
  color: rgb(181, 206, 168);
}

.highlight .o,
.highlight .p,
.vsoperator {
  color: rgb(180, 180, 180);
}

.vsmacro {
  color: rgb(189, 99, 197);
}

.vsenum {
  color: rgb(184,215, 163);
}

.vsparam {
  color: rgb(127, 127, 127);
}

.vstriplecomment {
  color: rgb(0, 100, 0) !important;
}

a.vsparam:hover {
  color: rgb(127, 127, 127);
    text-decoration: underline;
}

.spacer {
  width: 100%;
  height: 5px;
  border-bottom: 1px dotted rgb(60, 60, 60);
}

.separator {
  width:100%; 
  height: 15px; 
  border-top: 1px solid rgb(60, 60, 60);
}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.nounderlinelink {
  color: rgb(220, 220, 220);
}

.nounderlinelink:hover {
 text-decoration: overline !important;
}

#one-true { overflow: hidden; }
#one-true .col {
  width: 33%;
  padding: 0px 0% 0;
  float: left;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}