* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Consolas'; 
  font-size: 12px; 
  color: rgb(220, 220, 220);
  line-height: 1.5;
  background-color: rgb(30, 30, 30);
}

img {
  border: 1px solid rgb(127, 127, 127);
  max-width: 100%;
}

.vscomment {
  color: rgb(87, 166, 74);
}

.vsprepro {
  color: rgb(155, 155, 155);
}

.vstype {
  color: rgb(78, 201, 176);
}

.vskeyword {
  color: rgb(86, 156, 214);
}

.vsstring {
  color: rgb(214, 157, 133);
}

.vsnumber {
  color: rgb(181, 206, 168);
}

.vsmacro {
  color: rgb(189, 99, 197);
}

.vsenum {
  color: rgb(184,215, 163);
}

.vsparam {
  color: rgb(127, 127, 127);
}

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }