body:
	{
	font-family: Consolas,monaco,monospace !important;
	font-size: 12px; 
	color: rgb(220, 220, 220);
        line-height: 1.5;
	background-color: rgb(30, 30, 30);
	}
div.content
	{
	background-color: rgb(30, 30, 30);
	}
div.place
	{
	float:left;
	width:16px;
	height:16px;
	}
div.pwchanimg
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/pwchannel.png);
	}
div.chanimg
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/channel.png);
	}
div.channame
	{
	float:left;
	height:16px;
	line-height:16px;
	font-size:12px;
	font-weight:lighter;
	color: #00ffff;
	}
div.fullimg
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/channel_red.png);
	}
div.clear
	{
	clear:both;
	}
div.away_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/away.png);
	}
div.away_msg
	{
	float:left;
	height:16px;
	line-height:16px;
	font-size:12px;
	font-style:normal;
	font-weight:lighter;
	}
div.hwhead_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/hwhead.png);
	}
div.hwmic_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/hwmic.png);
	}
div.head_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/head.png);
	}
div.mic_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/mic.png);
	}
div.player_on_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/player_on.png);
	}
div.player_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/player.png);
	}
div.player_command_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/player_commander.png);
	}
div.player_command_on_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/player_commander_on.png);
	}
div.clientnick
	{
	float:left;
	height:16px;
	line-height:16px;
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	}
div.channel
	{
	height:16px;
	line-height:16px;
	margin-bottom:3px;
	}
div.client
	{
	height:16px;
	line-height:16px;
	margin-bottom:3px;
	}
div.servername
	{
	float:left;
	height:16px;
	line-height:16px;
	font-size:12px;
	font-style:normal;
	font-weight:lighter;
	}
div.server_img
	{
	float:left;
	width:16px;
	height:16px;
	background-image:URL(http://hypersomnia.pl/images/tsviewer/server.png);
	}
div.copy
	{
	height:16px;
	line-height:16px;
	font-size:10px;
	font-style:normal;
	font-weight:lighter;
	}

a:hover, a:visited, a:active, a:link
	{
	text-decoration:none;
	}
