---
layout: default
---
<div class="home">


<br/>
    {% for post in paginator.posts %}
    <div class="post-container" data-id="{{ post.comments_identifier }}">
          <a style="font-size:21px" class="vstext" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br/>
        <a class="vstext" href="{{ post.url }}"><span class="vsparam">[</span><span class="vsnumber">{{ post.date | date: "%d" }}</span>.<span class="vsnumber">{{ post.date | date: "%m" }}</span>.<span class="vsnumber">{{ post.date | date: "%Y" }}</span><span class="vsparam">]</span> <span class="vscomment">{{post.date | date: "// %H:%M:%S"}}</span> </a>
          <a style="font-style:italic" class="vsparam replies-count" href="{{ post.url | prepend: site.baseurl }}">(REPLIES_COUNT_GOES_HERE)</a><br/>
            
               {{ post.content | truncatewords:75}}
               
               {% assign wordCount = post.content | number_of_words %}

  			{% if wordCount > 75 %}
           </p><a class="vsenum" href="{{ post.url }}"><span class="vsparam">[</span>Read more...<span class="vsparam">]</span></a><br/><br/>
   			 {% endif %}
	<span class="vscomment">// =====================================================================================================</span>
    </div>

    {% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a class="vsenum" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span class="vsparam">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="vstype">[{{ page }}]</span>
    {% elsif page == 1 %}
      <a class="vsenum" href="{{ site.url }}"><span class="vsparam">[</span>{{ page }}<span class="vsparam">]</span></a>
    {% else %}
      <a class="vsenum" href="{{  page | prepend: '/page' | prepend: site.baseurl }}"><span class="vsparam">[</span>{{ page }}<span class="vsparam">]</span></a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a class="vsenum" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span class="vsparam">Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
<br/>
	Page <span class="vsnumber">{{ paginator.page }}</span> of <span class="vsnumber">{{ paginator.total_pages }}</span><br/>
  Total posts: <span class="vsnumber">{{ paginator.total_posts }}</span> 


<script>
$(document).ready(function()
{
  $.post( "http://patrykcysarz.pl/comment-system/web/comments/get-count", function( data ) {
    var postCounts = JSON.parse(data);
    
    for(var postId in postCounts)
    {
    	$(".post-container[data-id='" + postId + "'").find(".replies-count").html("(" + postCounts[postId] + " Comments)");
    }
  });	
});
</script>

<br/><br/><span class="vsparam">Notify me of followup posts via e-mail:</span><br/>

<iframe seamless="seamless" scrolling="no" frameborder="0" src="http://patrykcysarz.pl/comment-system/web/newsletter/sign-up" style="width:100%; height: 80px"></iframe>

</div>
