---
layout: default
title: All posts
permalink: /posts/
---
<div class="home">
  <span class="subjectheader">All posts</span>

  <ul class="post-list">
    {% for post in site.posts %}
        <span class="vsparam">[</span><span class="vsnumber">{{ post.date | date: "%d" }}</span>.<span class="vsnumber">{{ post.date | date: "%m" }}</span>.<span class="vsnumber">{{ post.date | date: "%Y" }}</span><span class="vsparam">]</span>
    {% if post.small_title %}
          <a class="vsenum" href="{{ post.url | prepend: site.baseurl }}">{{ post.small_title }}</a>
    {% else %}
          <a class="vsenum" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    {% endif %}
          <a style="font-style:italic" class="vsparam replies-count" href="{{ post.url | prepend: site.baseurl }}">(Be the first to comment!)</a>
          <br/>
    {% endfor %}
  </ul>

  Total posts: <span class="vsnumber">{{ site.posts | size }}</span> <br/>
</div>

<script>
$(document).ready(function()
{
  $.post( "http://patrykcysarz.pl/comment-system/web/comments/get-count", function( data ) {
    var postCounts = JSON.parse(data);
    
    for(var postId in postCounts)
    {
      $(".post-container[data-id='" + postId + "'").find(".replies-count").html("(" + postCounts[postId] + " Comments)");
    }
  }); 
});
</script>
