<br/>
<footer class="site-footer">
<div style="width:100%; height: 10px; border-top: 1px solid rgb(120, 120, 120)"></div>
<span class="vsparam" style="font-size: 12px">
<p>subscribe <a class="vskeyword" href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="vsparam">[</span>via RSS<span class="vsparam">]</span></a></p>
TeamSpeak 3: <a class="vsenum" href="ts3server://ts.hypersomnia.pl?nickname=BlogVisitor&cid=254&channelpassword=defaultChannelPassword&addbookmark=HypersomniaCongressCenter"><span class="vsparam">[</span>ts.hypersomnia.pl<span class="vsparam">]</span></a><br/>
<span class="vstriplecomment" style="font-size:10px; font-style:italic">/// we also have rooms for other games - invite your friends and come over!</span><br/>
IRC: <a class="vsenum">#hypersomnia</a>

</span>

<div style="text-align:center">
<a style="font-size:10px; font-style: italic;" class="vsparam" href="{{ "#TOP"| prepend: page.url }}"> <img src="{{ "/dove.gif "| prepend: site.baseurl }}" style="border: 0"/><br/>
<span style="">All speech is vain and empty unless it be accompanied by action.</a><br/>
<!--<span class = "vsparam" style="font-size:10px; font-style: none;">~Demosthenes, oratorian of Athens<br/></span>-->
</div>
</footer>
