<header class="site-header">

<div style="text-align: center">

<div style="font-size: 68px;">
<span class="vstype">hypersomnia</span> universe;
</div>
<div style="font-size: 34px;">
<span class="vskeyword"> game </span> about morality
</div>
<div class ="vscomment">
// A blog by developer of Hypersomnia <br/>
// with daily record of progress and new features 
<br/>
<br/>
</div>
[<a class="vsenum" href="#BLOG">BLOG HOMEPAGE</a>]<br/> 
[<a class="vsenum" href="#SUMMARY">SUMMARY</a>] 
[<a class="vsenum" href="#TECHNICALITIES">TECHNICALITIES</a>] 
[<a class="vsenum" href="#JOIN">JOIN</a>]
[<a class="vsenum" href="#AUTHOR">AUTHOR</a>] 
<br/><br/>






<span class="vsstring">"Our conglomerate shall proudly argue that shutting down the cosmos <br/>necessarily conforms to a standard of right behaviour."</span> ~<span class="vstype"> Resistance</span>
<br/>
<br/>
<!--<span class="vsprepro">#define</span> <span class="vsmacro">UNDER_CONSTRUCTION</span> <span class="vsnumber">1</span>-->
<span class="vsmacro">BLOG IS CURRENTLY UNDER CONSTRUCTION - CHECK BACK SOON</span>
</div>

</header>
