<header class="site-header">
<div style="width:100%; height: 15px; border-top: 1px solid rgb(60, 60, 60)"></div>

<div>

<div >
<a id="TOP" class="nounderlinelink" href="{{ "/"| prepend: site.baseurl }}"><span class="vstype">hypersomnia</span> universe;</a>
</div>
<div >
<span class="vskeyword"> The official homepage </span> <span style="color:white">for an open source shooter aspiring to become a community-centered MMORPG.</span>
</div>
<br/>
<a class="vsenum" style="color:white" href="https://github.com/TeamHypersomnia"><span class="vsparam">[</span>GitHub<span class="vsparam">]</span></a><br/>
<a class="vsenum" href="{{ "/"| prepend: site.baseurl }}"><span class="vsparam">[</span>NEWSCAST<span class="vsparam">]</span></a> 
<a class="vsenum" href="{{ "/summary "| prepend: site.baseurl }}"><span class="vsparam">[</span>SUMMARY<span class="vsparam">]</span></a>
<a class="vsenum" href="{{ "/posts"| prepend: site.baseurl }}"><span class="vsparam">[</span>ALL POSTS<span class="vsparam">]</span></a>
<a class="vsenum" href="{{ "/screenshots"| prepend: site.baseurl }}"><span class="vsparam">[</span>SCREENSHOTS<span class="vsparam">]</span></a>
<br/>
 <a class="vstype" href="{{ "/subscribe" | prepend: site.baseurl }}"><span class="vsparam">[</span>Subscribe<span class="vsparam">]</span></a>
<a class="vskeyword" href="{{ "/ts3"| prepend: site.baseurl }}"><span class="vsparam">[</span>TeamSpeak3<span class="vsparam">]</span></a>
 <a class="vstype" href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="vsparam">[</span>RSS<span class="vsparam">]</span></a>
<span class="vsparam" style="font-style:italic"><!--Users: 0--></span>

<br/><br/>

<span class="vsstring" style="font-style:italic">Our conglomerate shall proudly argue that shutting down the cosmos <br/>necessarily conforms to a standard of right behaviour.</span> ~<span class="vstype"> Resistance</span>
<br/>
<br/>
<!--<span class="vsprepro">#define</span> <span class="vsmacro">UNDER_CONSTRUCTION</span> <span class="vsnumber">1</span>-->

<a href="http://hypersomnia.pl"><img src="{{ "/dove.gif "| prepend: site.baseurl }}" style="text-align: center; border: 0"/></a><br/><br/>
<div style="width:100%; height: 15px; border-top: 1px solid rgb(60, 60, 60)"></div>

</div>

</header>
