<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/css/stylesheet.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <meta charset="UTF-8">
  <title>Hypersomnia newspaper</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ "/dove_icon.png" | prepend: site.baseurl }}">
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="{{ "/js/iframeResizer.min.js" | prepend: site.baseurl }}"></script>
</head>
