<header class="site-header">
<div style="width:100%; height: 15px; border-top: 1px solid rgb(60, 60, 60)"></div>

<div>

<div >
<a id="TOP" class="nounderlinelink" href="{{ "/"| prepend: site.baseurl }}">Welcome to the <span class="vstype">Hypersomnia</span> universe.</a>
</div>
<div >
You are on the <span class="vskeyword"> official homepage </span> <span style="color:white">of the project community.</span>
</div>
<br/>
<a class="vsenum" style="color:white" href="https://github.com/TeamHypersomnia"><span class="vsparam">[</span>GitHub<span class="vsparam">]</span></a><br/>
<a class="vsenum" href="{{ "/"| prepend: site.baseurl }}"><span class="vsparam">[</span>NEWSCAST<span class="vsparam">]</span></a> 
<a class="vsenum" href="{{ "/summary "| prepend: site.baseurl }}"><span class="vsparam">[</span>SUMMARY<span class="vsparam">]</span></a>
<a class="vsenum" href="{{ "/posts"| prepend: site.baseurl }}"><span class="vsparam">[</span>ALL POSTS<span class="vsparam">]</span></a>
<a class="vsenum" href="https://drive.google.com/folderview?id=0B_gBQSJQBKcjTzJ2bDVhWDhxSjQ&usp=sharing"><span class="vsparam">[</span>ALL SCREENSHOTS<span class="vsparam">]</span></a>
<a class="vsenum" href="{{ "/play"| prepend: site.baseurl }}"><span class="vsparam">[</span>PLAY<span class="vsparam">]</span></a>
<a class="vsenum" href="{{ "/join"| prepend: site.baseurl }}"><span class="vsparam">[</span>JOIN DEVELOPMENT<span class="vsparam">]</span></a>
<a class="vsenum" href="{{ "/founder"| prepend: site.baseurl }}"><span class="vsparam">[</span>ABOUT FOUNDER<span class="vsparam">]</span></a>
<br/>
 <a class="vstype" href="{{ "/subscribe" | prepend: site.baseurl }}"><span class="vsparam">[</span>Subscribe<span class="vsparam">]</span></a>
<a class="vskeyword" href="https://discord.gg/rMdUVWh"><span class="vsparam">[</span>Discord<span class="vsparam">]</span></a>
 <a class="vstype" href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="vsparam">[</span>RSS<span class="vsparam">]</span></a>
<span class="vsparam" style="font-style:italic"><!--Users: 0--></span>

<br/>
<br/>
<div id="one-true" class="group">
<div class="col"><span class="vsstring" style="font-style:italic">Our conglomerate shall proudly argue that shutting down the cosmos <br/>necessarily conforms to a standard of right behaviour.</span><br/>~<span class="vstype"> Resistance</span></div>

<div class="col"><span class="vsstring" style="font-style:italic">They wished to descend into bodies of flesh, over and over again,<br/>(...) receiving mortality with incredible joy.</span><br/> ~<span class="vstype"> Metropolitan archives</span></div>

<div class="col"><span class="vsstring" style="font-style:italic">hypersomnia - tendency of the Creator to immerse into inferior simulations,<br/> in spite of countless deaths experienced as a consequence. </span><br/> ~<span class="vstype"> Unknown Sophist of Atlantis</span></div>

</div>

<br/>
<!--<span class="vsprepro">#define</span> <span class="vsmacro">UNDER_CONSTRUCTION</span> <span class="vsnumber">1</span>-->
<div style="width:100%; height: 5px; border-bottom: 1px dotted rgb(60, 60, 60)"></div>
<br/>
<a href="http://hypersomnia.pl"><img src="{{ "/dove.gif "| prepend: site.baseurl }}" style="text-align: center; border: 0"/></a>
<br/>

<div id="serverwidget_online" style="display:none">
<span style="color:white">Experimental test server is <span class="onlinegreen">Online</span></span><br/>
</div>

<div id="serverwidget_offline" style="display:none">
<span style="color:white">Experimental test server is currently <span style="color:red">Offline</span></span><br/>Last seen: 
</div>

<div id="serverwidget">
<span style="color:white">Experimental test server is currently <span style="color:red">Offline</span></span><br/>Last seen: loading...
<span class="vsparam"><br/>[universe.hypersomnia.pl status report]</span>
</div>
<script>

var is_online = false;
var success_lastonline = false;
var last_online = new Date();

function last_online_updater() {
  if(is_online == false) {
  var xhttp = new createCORSRequest("GET", "http://patrykcysarz.pl/comment-system/web/stats/last-update/get");
   if (!xhttp) {
    alert('CORS not supported');
    return;
  }

  xhttp.onload = function() {
    if (this.readyState == 4 && this.status == 200) {
    //alert('rdy');
      last_online = new Date(this.responseText.replace(/-/g,'/')); 
      success_lastonline = true;
    }
  };

var offline_callback = function() {
    //alert('off');
  };

xhttp.timeout = 5000;
  xhttp.onerror = offline_callback; 
  xhttp.ontimeout = offline_callback; 

  xhttp.send();
  }
}

  function offline_clock_ticker() {
var offline_content = " ";

    if(success_lastonline) {
      var ms = Math.abs(new Date() -last_online);

      var x = ms / 1000;
      var seconds = parseInt(x % 60);
      x /= 60;
      var minutes = parseInt(x % 60);
      x /= 60;
      var hours = parseInt(x % 24);
      x /= 24;
      var days = parseInt(x);

      if(days > 0)
offline_content += days + "d ";
      if(hours > 0)
offline_content += hours + "h ";
      if(minutes > 0)
offline_content += minutes + "m ";
      if(seconds > 0)
offline_content += seconds + "s ";        

      offline_content += "ago";

    document.getElementById("offlineclock").innerHTML = offline_content;
    }
    else {
    document.getElementById("offlineclock").innerHTML = "loading...";
    }
  }

  function msToTime(duration) {
        var milliseconds = parseInt((duration%1000)/100)
            , seconds = parseInt((duration/1000)%60)
            , minutes = parseInt((duration/(1000*60))%60)
            , hours = parseInt((duration/(1000*60*60))%24);

        hours = (hours < 10) ? "0" + hours : hours;
        minutes = (minutes < 10) ? "0" + minutes : minutes;
        seconds = (seconds < 10) ? "0" + seconds : seconds;

        return hours + ":" + minutes + ":" + seconds + "." + milliseconds;
    }

function load_server_widget() {
  var xhttp = new createCORSRequest("GET", "http://universe.hypersomnia.pl");
   if (!xhttp) {
    alert('CORS not supported');
    return;
  }

  xhttp.onload = function() {
    if (this.readyState == 4 && this.status == 200) {
      is_online = true;
      last_online = new Date();
      document.getElementById("serverwidget").innerHTML = document.getElementById("serverwidget_online").innerHTML + this.responseText;
    }
  };

var offline_callback = function() {
    is_online = false;
	  document.getElementById("serverwidget").innerHTML = document.getElementById("serverwidget_offline").innerHTML + '<span id="offlineclock"></span>' +
 '<span class="vsparam"><br/>[universe.hypersomnia.pl status report]</span>';
    ;
    offline_clock_ticker();
	};

xhttp.timeout = 5000;
	xhttp.onerror = offline_callback; 
	xhttp.ontimeout = offline_callback; 

  xhttp.send();
}
  

load_server_widget();
last_online_updater();
setInterval(load_server_widget, 1000);
setInterval(last_online_updater, 5000);
setInterval(offline_clock_ticker, 500);
</script>

<div id="serverwidget">
<iframe seamless="seamless" scrolling="no" frameborder="0" src="http://universe.hypersomnia.pl" style="height: 0px; width:100%;"></iframe>
</div>
<script>$('iframe').iFrameResize();</script>
<div style="width:100%; height: 15px; border-top: 1px solid rgb(60, 60, 60)"></div>

</div>

</header>
