---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<br/>
  <header class="post-header">
    <span class="post-title" itemprop="name headline" style="font-size:21px">{{ page.title }}</span><br/>
            <a class="vstext" href="{{ post.url }}"><span class="vsparam">[</span><span class="vsnumber">{{ page.date | date: "%d" }}</span>.<span class="vsnumber">{{ page.date | date: "%m" }}</span>.<span class="vsnumber">{{ page.date | date: "%Y" }}</span><span class="vsparam">]</span> <span class="vscomment">{{page.date | date: "// %H:%M:%S"}}</span> </a> 
    <p class="post-meta">

    {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>


<div id ="commentssection">
<iframe seamless="seamless" scrolling="no" frameborder="0" src="{{'http://patrykcysarz.pl/comment-system/web/comments/show/'}}{{ page.comments_identifier }}"></iframe>
<script>
$('iframe').load(function() {
$(this).height( $(this).contents().find("body").height() );
});
</script>

<script>$('iframe').iFrameResize();</script>

</div>
<script>

$(document).ready(function()
{
  $.post( "{{'http://patrykcysarz.pl/comment-system/web/comments/show/'}}{{ page.comments_identifier }}", function( data ) {
    $("#commentssection").html(data);
  });	
});
</script>

</article>
