---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
  <header class="post-header">
    <span class="post-title" itemprop="name headline" style="color: white">{{ page.title }}</span><br/>
            <a class="vstext" href="{{ post.url }}"><span class="vsparam">[</span><span class="vsnumber">{{ page.date | date: "%d" }}</span>.<span class="vsnumber">{{ page.date | date: "%m" }}</span>.<span class="vsnumber">{{ page.date | date: "%Y" }}</span><span class="vsparam">]</span> <!--<span class="vscomment">{{page.date | date: "// %H:%M"}}</span>--> </a> 
  </header>

  <br/>
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  <br/>
  <div id="disqus_thread"></div>
  <script>
    let disqus_name = "{{ site.disqus.name }}";

    (function() {
      let dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;

      dsq.src = '//' + disqus_name + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>

</article>
