---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

<br/>
  <header class="post-header">
    <span class="post-title" itemprop="name headline" style="font-size:21px">{{ page.title }}</span><br/>
            <a class="vstext" href="{{ post.url }}"><span class="vsparam">[</span><span class="vsnumber">{{ page.date | date: "%d" }}</span>.<span class="vsnumber">{{ page.date | date: "%m" }}</span>.<span class="vsnumber">{{ page.date | date: "%Y" }}</span><span class="vsparam">]</span> <span class="vscomment">{{page.date | date: "// %H:%M:%S"}}</span> </a> 
    <p class="post-meta">

    {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>

<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    
    var disqus_config = function () {
        // this.page.url = "{{page.url}}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{page.disqus_identifier}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//hypersomnia.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
